<style>
    .project_img {
        border-radius: 50px;
    }
    .project_title {
          font-size: 12px;
          line-height: 1.2;
          display:inline-block;
        }
</style>

<div id="proj-info">
    <img class="project_img" width="100" height="100" src={% if proj.project_img_middle %}"{{proj.project_img_middle}}"{% else %}"/static/img/obj/empty_image_mini_obj.png"{% endif %} class="image_mini_obj">
    <div class="proj-info-container">
        <h1> {{proj.object_name}} - ОСНОВНОЕ</h1>
        <label class="project_title" title="{{proj.project_title}}">{{proj.project_title_short}}</label>
    </div>

    <button class="object_main_btn" id="edit_btn">РЕДАКТИРОВАТЬ</button>
    <button class="object_main_btn" id="save_btn" hidden>СОХРАНИТЬ</button>
    <button class="object_main_btn" id="cancel_btn" hidden>ОТМЕНА</button>
</div>

<div id="header-panel">
    {% for h in header_menu %}
            <div class={{h.class}}><a href="{{h.link}}">{{h.name}}</a></div>
    {% endfor %}
</div>