
<button class="tow addTowBefore" title="Скопировать структуру над текущей строкой"><img src="/static/img/object/tow/addTow-Before.svg"></button>

<button class="tow addTowAfter" title="Скопировать структуру под структурой текущей строки"><img src="/static/img/object/tow/addTow-After.svg"></button>

<button class="tow_delTow" data-is_not_edited="{% if t.is_not_edited %}true{% endif %}" title="Удалить вид работ со всеми вложениями" {% if t.is_not_edited %}hidden{% endif %}><img src="/static/img/object/tow/delete-tow.svg"></button>

<button class="tow shiftTowLeft" title="Сдвинуть структуру влево"><img src="/static/img/object/tow/shiftTow-Left.svg"></button>

<button class="tow shiftTowRight" title="Сдвинуть структуру вправо"><img src="/static/img/object/tow/shiftTow-Right.svg"></button>

<button class="tow shiftTowUp" title="Переместить структуру вверх"><img src="/static/img/object/tow/shiftTow-Up.svg"></button>

<button class="tow shiftTowDown" title="Переместить структуру вниз"><img src="/static/img/object/tow/shiftTow-Down.svg"></button>

<button class="tow addTowNew" title="Добавить дочерний вид работ"><img src="/static/img/object/tow/addTow-New.svg"></button>