
<!--<button class="tow" onclick="editDescription(this)" title="Редактировать название"><img src="/static/img/object/tow/icon-edit-pen.svg"></button>-->

<!--<button class="tow" onclick="saveDescription(this)" title="Сохранить изменение" hidden=True><img src="/static/img/object/tow/icon-ok.svg"></button>-->

<!--<button class="tow" onclick="undoEditDescr(this)" title="Отменить изменение" hidden=True><img src="/static/img/object/tow/icon-ok.svg"></button>-->

<button class="tow" onclick="addTow(this, 'Before')" title="Скопировать структуру над текущей строкой"><img src="/static/img/object/tow/addTow-Before.svg"></button>

<button class="tow" onclick="addTow(this, 'After')" title="Скопировать структуру под структурой текущей строки"><img src="/static/img/object/tow/addTow-After.svg"></button>

<button class="tow_delTow" onclick="delTow(this)" data-del="{{t.del}}" title="Удалить вид работ со всеми вложениями"><img src="/static/img/object/tow/delete-tow.svg"></button>

<button class="tow" onclick="shiftTow(this, 'Left')" title="Сдвинуть структуру влево"><img src="/static/img/object/tow/shiftTow-Left.svg"></button>

<button class="tow" onclick="shiftTow(this, 'Right')" title="Сдвинуть структуру вправо"><img src="/static/img/object/tow/shiftTow-Right.svg"></button>

<button class="tow" onclick="shiftTow(this, 'Up')" title="Переместить структуру вверх"><img src="/static/img/object/tow/shiftTow-Up.svg"></button>

<button class="tow" onclick="shiftTow(this, 'Down')" title="Переместить структуру вниз"><img src="/static/img/object/tow/shiftTow-Down.svg"></button>

<button class="tow" onclick="addTow(this, 'New')" title="Добавить дочерний вид работ"><img src="/static/img/object/tow/addTow-New.svg"></button>