<dialog id="verif_dialog_empl">
    <div id="user_card_title_frame">
        <label>ПОДТВЕРДИТЬ ДЕЙСТВИЕ?</label>
        <img id="crossBtnNAW" src="/static/img/employee/cross.svg" onclick="this.closest('dialog').close();">
    </div>
    <p id="verif_dialog_empl_description"></p>
    <div>
        <button type="button" id="verif_dialog_empl__ok">ОК</button>
        <button type="button" id="verif_dialog_empl__cancel" onclick="this.closest('dialog').close();">ОТМЕНА</button>
    </div>
</dialog>