{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/contractPagination.js" nonce="{{ nonce }}"></script>
<script src="/static/script/contractFilter.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentSort.js" nonce="{{ nonce }}"></script>
<script src="/static/script/contractCard.js" nonce="{{ nonce }}"></script>

{% endblock %}
{% block content %}

<body id="contracts-objects_page">

    {% if proj %}
    {% include "_layout_objects.html" %}
    {% endif %}

    {% include "_verification_dialog_empl.html" %}
    <section class="modal hidden" id="create-contract__dialog" class="create-contract__dialog">
        <div id="user_card_title_frame">
            <label>НОВЫЙ ДОГОВОР. ВЫБОР ТИПА ДОГОВОРА</label>
            <img class="crossBtnNAW" id="user_card_crossBtnNAW" src="/static/img/employee/cross.svg">
        </div>
        <div id="create_contract_type_title_frame">
            <label id="create_contract_type_income_frame">ДОХОДНЫЕ</label>
            <label id="create_contract_type_expenditure_frame">РАСХОДНЫЕ</label>
        </div>
        <div id="create_contract_income_buttons_frame">
            <div class="create_contract_buttons_frame">
                <button type="button" id="create_contract_button_income_contract_frame">ДОХОДНЫЙ ДОГОВОР</button>
                <button type="button" id="create_contract_button_income_subcontract_frame" {% if not new_subcontract[0] %}disabled{% endif %}>ДОХОДНОЕ ДОП. СОГЛАШЕНИЕ</button>
            </div>
            <div class="user_card_expenditure_button_group">
                <button type="button" id="create_contract_button_expenditure_contract_frame">РАСХОДНЫЙ ДОГОВОР</button>
                <button type="button" id="create_contract_button_expenditure_subcontract_frame" {% if not new_subcontract[1] %}disabled{% endif %}>РАСХОДНОЕ ДОП. СОГЛАШЕНИЕ</button>
            </div>
        </div>
    </section>
    <div id="employeeCardWin" class="overlay hidden"></div>

    <div id="proj-info">
        <div id="proj-info_wrapper">
            <img class="project_img" src="/static/img/contract/contract_logo.svg" class="image_mini_obj">
            <div class="proj-info-container">
            <h1>{{title}}</h1>
        </div>
    </div>
        <button class="object_main_btn" id="add_btn">ДОБАВИТЬ</button>
    </div>
    <div id="header-panel">
        {% for h in header_menu %}
                <div class={{h.class}}><a href="{{h.link}}">{{h.name}}</a></div>
        {% endfor %}
    </div>

    <div id="sortCol-1" hidden>{{ sort_col['col_1'][0] }}#{{ sort_col['col_1'][1] }}</div>
    <div id="sortCol-1_val" hidden>{{ sort_col['col_1'][2] }}</div>
    <div id="sortCol-id_val" hidden>{{ sort_col['col_id'] }}</div>

    <div class="tableEmp">
    <table class="employeeTable" id="employeeTable">
        <thead class="fix_thead">
            <tr>
                <th class="checpoint" title="Выбор">
                    <div>ВЫБОР&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-0">
                </th>
                <th class="objectname" title="Название объекта">
                    <div id="sort-div-1">ОБЪЕКТ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-1">
                </th>
                <th class="contracttype" title="Тип договора">
                    <div id="sort-div-2">ТИП&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-2">
                </th>
                <th class="contractnumber" title="Номер договора">
                    <div id="sort-div-3">№ ДОГОВОРА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-3">
                </th>
                <th class="contractdatastart" title="Дата старта договора">
                    <div id="sort-div-4">ДАТА ДОГОВОРА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-4">
                </th>
                <th class="contractdataend" title="Дата окончания договора">
                    <div id="sort-div-5">ДАТА ОКОНЧАНИЯ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-5">
                </th>
                <th class="numberaddcontract" title="Номер дополнительного соглашения">
                    <div id="sort-div-6">№ ДОП.СОГЛ.&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-6">
                </th>
                <th class="datenumberaddcontractstart" title="Дата старта дополнительного соглашения">
                    <div id="sort-div-7">ДАТА ДОП.СОГЛ.&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-7">
                </th>
                <th class="datenumberaddcontractend" title="Дата окончания дополнительного соглашения">
                    <div id="sort-div-8">ДАТА ОКОНЧАНИЯ ДС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-8">
                </th>
                <th class="customer" title="Заказчик">
                    <div id="sort-div-9">ЗАКАЗЧИК&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-9">
                </th>
                <th class="contractor" title="Подрядчик">
                    <div id="sort-div-10">ПОДРЯДЧИК&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-10">
                </th>
                <th class="info" title="Краткое описание, примечание">
                    <div id="sort-div-11">ПРИМЕЧАНИЕ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-11">
                </th>
                <th class="status" title="Статус">
                    <div id="sort-div-12">СТАТУС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-12">
                </th>
                <th class="statuscheckpoint" title="Учитывается / НЕ учитывается">
                    <div id="sort-div-13">НАЗНАЧЕНИЕ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-13">
                </th>
                <th class="nds" title="НДС">
                    <div id="sort-div-14">НДС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-14">
                </th>
                <th class="summwithnotnds" title="Общая сумма">
                    <div id="sort-div-15">СУММА БЕЗ НДС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-15">
                </th>
                <th class="datecreate" title="Дата создания">
                    <div id="sort-div-16">ДАТА СОЗДАНИЯ&nbsp;<span class="arrow_sort">▲</span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-16">
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>



</body>

{% endblock %}

