{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/contractPagination.js" nonce="{{ nonce }}"></script>
<script src="/static/script/contractFilter.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentSort.js" nonce="{{ nonce }}"></script>
<script src="/static/script/object_shiftTow.js" nonce="{{ nonce }}"></script>
<script src="/static/script/contractCard.js" nonce="{{ nonce }}"></script>

{% endblock %}
{% block content %}

<body id="contract-objects_page">

    {% if proj %}
    {% include "_layout_objects.html" %}
    {% endif %}

    {% include "_verification_dialog_empl.html" %}

    <div id="proj-info">
        <div id="proj-info_wrapper">
            <img class="project_img" src="/static/img/contract/contract_logo.svg" class="image_mini_obj">
            <div class="proj-info-container">
                <h1>{{title}}</h1>
            </div>
        </div>
        <button class="object_main_btn" id="add_btn">ДОБАВИТЬ</button>
    </div>
    {% if not proj %}
    <nav id="header-panel">
        {% for h in header_menu %}
                <div class={{h.class}}><a href="{{h.link}}">{{h.name}}</a></div>
        {% endfor %}
    </nav>
    {% endif %}

    <div id="sortCol-1" hidden>{{ sort_col['col_1'][0] }}#{{ sort_col['col_1'][1] }}</div>
    <div id="sortCol-1_val" hidden>{{ sort_col['col_1'][2] }}</div>
    <div id="sortCol-id_val" hidden>{{ sort_col['col_id'] }}</div>

    <div class="tableEmp">
    <table class="employeeTable" id="employeeTable">
        <thead class="fix_thead">
            <tr>
                <th title="Выбор">
                    <div>ВЫБОР&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-0">
                </th>
                <th title="Название объекта">
                    <div id="sort-div-1">ОБЪЕКТ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-1">
                </th>
                <th title="Тип акта">
                    <div id="sort-div-2">ТИП&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-2">
                </th>
                <th title="Номер договора">
                    <div id="sort-div-3">№ ДОГОВОРА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-3">
                </th>
                <th title="Номер акта">
                    <div id="sort-div-4">№ АКТА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-4">
                </th>
                <th title="Дата акта">
                    <div id="sort-div-5">ДАТА АКТА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-5">
                </th>
                <th title="Статус подписания акта">
                    <div id="sort-div-6">СТАТУС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-6">
                </th>
                <th title="НДС основного договора">
                    <div id="sort-div-7">НДС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-7">
                </th>
                <th title="Сумма Без НДС">
                    <div id="sort-div-8">СУММА БЕЗ НДС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-8">
                </th>
                <th title="Количество видов работ в акте">
                    <div id="sort-div-9">КОЛ-ВО&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-9">
                </th>
                <th title="Назначение - Учитывается / НЕ учитывается">
                    <div id="sort-div-10">УЧЁТ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-10">
                </th>
                <th title="Дата создания">
                    <div id="sort-div-11">ДАТА СОЗДАНИЯ&nbsp;<span class="arrow_sort">▲</span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-11">
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>



</body>

{% endblock %}
