{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/contractCard.js"></script>
<script src="/static/script/employeeCard.js"></script>
<link rel="stylesheet" href="/static/style/style_nikolai.css">

{% endblock %}
{% block content %}

<body id="contracts-objects_page">

    {% include "_verification_dialog_empl.html" %}
    <div class="overlay hidden" onclick="closeModal()"></div>

    <div id="proj-info">
        <img class="project_img" width="50" height="50" src="/static/img/contract/contract_logo.svg" class="image_mini_obj">
        <div class="proj-info-container">
            <h1>{{title}}</h1>
        </div>
    </div>

    <div id="contract_type" hidden>{{ contract_info.type_id }}</div>

    <div class="contract_card_form__field_wrapper" id="ctr_full_card_div"  hidden="hidden">

        <div class="contract_card_form_row" id="contract_card_form_row_1">
            <div class="contract_card_form_parameter" id="ctr_card_full_obj_div">
                <label id="ctr_card_full_obj_label" for="ctr_card_full_obj">ОБЪЕКТ</label>
                <select class="selectSearch2" data-placeholder="Выберите объект из списка" id="ctr_card_full_obj" name="ctr_card_obj_select" required>
                    <option></option>
                    {% for obj in objects_name %}
                    <option value="{{ obj.object_id }}" {% if obj.object_id == contract_info.object_id %} selected {% endif %}>{{ obj.object_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_full_contract_number_div">
                <label id="ctr_card_full_contract_number_label" for="ctr_card_contract_number">ДОГОВОР №</label>
                <input type="text" name="ctr_card_contract_number" id="ctr_card_full_contract_number" value="{{contract_info.contract_number}}" placeholder="Укажите номер договора" required/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_partner_div">
                <label id="ctr_card_partner_label" for="ctr_card_partner">КОНТРАГЕНТ</label>
                <select class="selectSearch2" data-placeholder="Выберите контрагента из списка" id="ctr_card_partner" name="ctr_card_partner_select" required>
                    <option></option>
                    {% for p in partners %}
                    <option value="{{ p.partner_id }}" {% if p.partner_id == contract_info.contract_id %} selected {% endif %}>{{ p.partner_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_full_status_name_div">
                <label id="ctr_card_status_full_name_label" for="ctr_card_contractor">СТАТУС</label>
                <select class="selectSearch2" data-placeholder="Выберите статус из списка" id="ctr_card_full_status_name" name="ctr_card_status_name_select" required>
                    <option></option>
                    {% for sn in contract_statuses %}
                    <option value="{{ sn.contract_status_id }}" {% if sn.contract_status_id == contract_info.contract_status_id %} selected {% endif %}>{{ sn.status_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="contract_card_form_row" id="contract_card_form_row_2">
            <div class="contract_card_form_parameter" id="ctr_card_allow_div">
                <label id="ctr_card_allow_label" for="ctr_card_obj">НАЗНАЧЕНИЕ</label>
                <input type="checkbox" name="user_card_allow" id="user_card_allow"  {% if contract_info.allow %}checked{% endif %}/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_contractor_div">
                <label id="ctr_card_contractor_label" for="ctr_card_contractor">ЗАКАЗЧИК</label>
                <select class="selectSearch2" data-placeholder="Выберите объект из списка" id="ctr_card_contractor" name="ctr_card_contractor_select" required>
                    <option></option>
                    {% for c in contractors %}
                    <option value="{{ c.contractor_id }}" {% if c.contractor_id == contract_info.contractor_id %} selected {% endif %}>{{ c.contractor_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_fot_value_div">
                <label id="ctr_card_fot_value_label" for="ctr_card_fot_value">% ФОТ</label>
                <input type="text" name="ctr_card_fot_value" id="ctr_card_fot_value" value="{{contract_info.fot_percent}}" placeholder="Укажите процент ФОТ" required/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_contract_description_div">
                <label id="ctr_card_contract_description_label" for="ctr_card_contract_description">ПРИМЕЧАНИЕ</label>
                <input type="text" name="ctr_card_contract_description" id="ctr_card_contract_description" value="{{contract_info.contract_description}}" placeholder="Дополнительная информация" />
            </div>
        </div>

        <div class="contract_card_form_row" id="contract_card_form_row_3">
            <div class="contract_card_form_parameter" id="ctr_card_full_cost_div">
                <label id="ctr_card_full_cost_label" for="ctr_card_cost">СТОИМОСТЬ</label>
                <div>
                    <input type="text" name="ctr_card_cost" id="ctr_card_full_cost" value="{{contract_info.contract_cost_rub}}" placeholder="Укажите стоимость договора" required/>

                    <label class={% if contract_info.contractor_value == 'true' %} "ctr_card_contract_vat_positive" {% else %} "ctr_card_contract_vat_negative" {% endif %}
                    id="ctr_card_contract_full_vat_label" data-vat="{{contract_info.contractor_value}}" onclick="foo()">{% if contract_info.contractor_value == 'true' %}С НДС{% else %}БЕЗ НДС{% endif %}</label>

                    <label class="ctr_card_contract_vat_negative" id="ctr_card_contract_full_prolongation_label" onclick="foo2()">Автопродление</label>
                </div>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_cost_without_reserve_div">
                <label id="ctr_card_cost_without_reserve_label" for="ctr_card_cost_without_reserve">СТОИМОСТЬ БЕЗ РЕЗЕРВА</label>
                <input type="text" name="ctr_card_cost_without_reserve" id="ctr_card_cost_without_reserve" value="в разработке" disabled/></div>
            <div class="contract_card_form_parameter" id="ctr_card_fot_cost_div">
                <label id="ctr_card_fot_cost_label" for="ctr_card_fot_cost">СТОИМОСТЬ ФОТ</label>
                <input type="text" name="ctr_card_fot_cost" id="ctr_card_fot_cost" value="{{contract_info.contract_fot_cost_rub}}" disabled/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_subcontract_cost_div">
                <label id="ctr_card_subcontract_cost_label" for="ctr_card_subcontract_cost">СТОИМОСТЬ СУБПОДРЯДА</label>
                <input type="text" name="ctr_card_subcontract_cost" id="ctr_card_subcontract_cost" value="{{subcontractors_cost}}" disabled/>
            </div>
        </div>

        <div class="contract_card_form_row" id="contract_card_form_row_4">
            <div class="contract_card_form_parameter" id="ctr_card_date_start_div">
                <label id="ctr_card_date_start_label" for="ctr_card_date_start">ДАТА НАЧАЛА</label>
                <input type="text" name="ctr_card_date_start" id="ctr_card_date_start" value="{{contract_info.date_start_txt}}" onfocusin="convertOnfocusDate(this)" onfocusout="convertOnfocusDate(this)" placeholder="Укажите дату начала договора" required/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_date_finish_div">
                <label id="ctr_card_date_finish_label" for="ctr_card_date_finish">ДАТА ОКОНЧАНИЯ</label>
                <input type="text" name="ctr_card_date_finish" id="ctr_card_date_finish" value="{{contract_info.date_finish_txt}}" onfocusin="convertOnfocusDate(this)" onfocusout="convertOnfocusDate(this)" placeholder="Укажите дату окончания договора" required/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_attach_files_div">
                <label id="ctr_card_attach_files_label">ЭЛЕКТРОННАЯ ВЕРСИЯ</label>
                <button class="ctr_card_attach_file" onclick="editFullNameUserCard()" title="Загрузить файл">
                    <img src="/static/img/contract/attach_file.svg">
                </button>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_files_list_div">
            </div>
        </div>

        <div class="contract_card_form_row" id="contract_card_form_row_5">
            <div class="contract_card_form_reserve_left" id="ctr_card_reserve1_left">
                <label id="ctr_card_date_reserve1_label">РЕЗЕРВ</label>
            </div>
            <div class="contract_card_form_reserve_right" id="ctr_card_reserve_right_div">
                <div class="contract_card_form_parameter" id="ctr_card_reserve_right_1_div">
                    <datalist id="ctr_card_reserve_right_name_1">
                        <option></option>
                        {% for reserv in reserve_names %}
                        <option value="{{ reserv[0] }}">{{ reserv[0] }}</option>
                        {% endfor %}
                    </datalist>
                    <input type="text" name="ctr_card_reserve_right_value_1" id="ctr_card_reserve_right_value_1" value="в разработке" placeholder="Сумма резерва" required/>
                </div>

                <div class="contract_card_form_parameter" id="ctr_card_add_reserve_div">
                    <button class="ctr_card_add_reserve" onclick="editFullNameUserCard()" title="Добавить новый резерв">
                        <img src="/static/img/contract/add_reserve.svg">
                    </button>
                </div>
                <div class="contract_card_form_parameter" id="ctr_card_reserve_gip_div">
                </div>
            </div>
        </div>

    </div>

    <div id="ctr_hide_full_card_info" hidden="hidden">
        <button class="ctr_card_attach_file" onclick="hideFullCardInfo()" title="Отобразить полную информацию">
            <img src="/static/img/contract/card_full_info_hide.svg">
        </button>
    </div>

    <div class="contract_card_form__field_wrapper" id="ctr_mini_card_div">
        <div class="contract_card_form_parameter" id="ctr_card_obj_div">
            <label id="ctr_card_obj_label" for="ctr_card_obj">ОБЪЕКТ</label>
            <select class="selectSearch2" data-placeholder="Выберите объект из списка" id="ctr_card_obj" name="ctr_card_obj_select" required>
                <option></option>
                {% for obj in objects_name %}
                <option value="{{ obj.object_id }}" {% if obj.object_id == contract_info.object_id %} selected {% endif %}>{{ obj.object_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="contract_card_form_parameter" id="ctr_card_contract_number_div">
            <label id="ctr_card_contract_number_label" for="ctr_card_contract_number">ДОГОВОР №</label>
            <input type="text" name="ctr_card_contract_number" id="ctr_card_contract_number" value="{{contract_info.contract_number}}" placeholder="Укажите номер договора" required/>
        </div>

        <div class="contract_card_form_parameter" id="ctr_card_status_name_div">
            <label id="ctr_card_status_name_label" for="ctr_card_contractor">СТАТУС</label>
            <select class="selectSearch2" data-placeholder="Выберите статус из списка" id="ctr_card_status_name" name="ctr_card_status_name_select" required>
                <option></option>
                {% for sn in contract_statuses %}
                <option value="{{ sn.contract_status_id }}" {% if sn.contract_status_id == contract_info.contract_status_id %} selected {% endif %}>{{ sn.status_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="contract_card_form_parameter" id="ctr_card_cost_div">
            <label id="ctr_card_cost_label" for="ctr_card_cost">СТОИМОСТЬ</label>
                <div>
                    <input type="text" name="ctr_card_cost" id="ctr_card_cost" value="{{contract_info.contract_cost_rub}}" placeholder="Укажите стоимость договора" required/>

                    <label class={% if contract_info.contractor_value == 'true' %} "ctr_card_contract_vat_positive" {% else %} "ctr_card_contract_vat_negative" {% endif %}
                    id="ctr_card_contract_vat_label" data-vat="{{contract_info.contractor_value}}" onclick="foo()">{% if contract_info.contractor_value == 'true' %}С НДС{% else %}БЕЗ НДС{% endif %}</label>

                    <label class="ctr_card_contract_vat_negative" id="ctr_card_contract_prolongation_label" onclick="foo2()">Автопродление</label>
                </div>
        </div>

        <div>
            <button class="ctr_card_attach_file" onclick="showFullCardInfo()" title="Отобразить полную информацию">
                <img src="/static/img/contract/card_full_info_show.svg">
            </button>
        </div>
    </div>

    <div class="div_above_qqqq" id="header-panel">
        <label id="div_above_qqqq_title">ВИДЫ РАБОТ</label>
        <label id="div_above_qqqq_undistributed">НЕ РАСПРЕДЕЛЕНО:</label>
        <label id="div_above_qqqq_undistributed_cost"></label>
        <div class="div_above_qqqq_button_panel" id="div_above_qqqq_button_panel">
            <button class="ctr_card_multiselect_on" onclick="setMultiselectFillOn(this)" title="Выбор со всеми вложениями">
                <img>
            </button>
            <button class="ctr_card_columns_settings" onclick="hideFullCardInfo()" title="Настройка таблицы">
                <img src="/static/img/object/tow/columns_settings.svg">
            </button>
            <button class="ctr_card_focus_in" onclick="hideFullCardInfo()" title="Сфокусировать выбор на выбранном виде работ">
                <img src="/static/img/object/tow/tabler_focus-in.svg">
            </button>
        </div>
    </div>

    <div class="qqqq">
    <table class="tow" id="towTable">
        <thead class="fix_thead">
            <tr>
                <th style="width:70%" class="th_tow_name">
                    <div>ВИД РАБОТЫ</div>
                </th>
                <th class="th_tow_dept">
                    <div></div>
                </th>
                <th class="th_tow_dept">
                    <div>ОТДЕЛ</div>
                </th>
                <th class="th_tow_dept">
                    <div>СУММА</div>
                </th>
                <th class="th_tow_dept">
                    <div>% СУММЫ</div>
                </th>
                <th class="th_tow_dept">
                    <div>СУММА ФОТ</div>
                </th>
                <th class="th_tow_dept">
                    <div>СУБП.</div>
                </th>
            </tr>

        </thead>
        {% if tow %}
            {% for t in tow %}
            <tr class="lvl-{{t.depth}}" data-lvl="{{t.depth}}" data-del="{{t.del}}" id="{{t.tow_id}}">
                <td class="tow_name">
                    <div class="div_tow_name"><input type="text" class="input_tow_name" value="{{t.tow_name}}" disabled></div>
                </td>
                <td class="tow_contract" onclick="selectContractTow(this)">
                    <input type="checkbox" class="checkbox_time_tracking"  {% if t.tow_cost %}checked{% endif %}  {{t.disabled_row}}>
                </td>
                <td class="tow_dept"><input type="text" class="input_tow_name" value="{{t.dept_short_name}}" disabled></td>
                <td class="tow_dept"><input type="text" class="input_tow_name" value="{{t.tow_cost_rub}}"  {{t.disabled_row}} {{t.disabled_type2}}></td>
                <td class="tow_dept"><input type="text" class="input_tow_name" value="{{t.tow_cost_percent_txt}}"  {{t.disabled_row}}></td>
                <td class="tow_dept"><input type="text" class="input_tow_name" value="{{t.tow_fot_cost_rub}}"  {{t.disabled_row}} {{t.disabled_type2}}></td>
                <td class="tow_dept"><input type="text" class="input_tow_name" value="{{t.tow_subcontractor_cost_rub}}"  {{t.disabled_row}} {{t.disabled_type1}}></td>
            </tr>
            {% endfor %}
        {% else %}

            <tr class="div_tow_first_row">
                <td class="div_tow_first_cell" colspan="3">
                    <button onclick="FirstRow()">+ Начать создание состава работ</button>
                </td>
            </tr>
        {% endif %}
    </table>
    </div>
</body>

{% endblock %}
