{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/contractPagination.js" nonce="{{ nonce }}"></script>
<script src="/static/script/contractFilter.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentSort.js" nonce="{{ nonce }}"></script>
<script src="/static/script/contractCard.js" nonce="{{ nonce }}"></script>

{% endblock %}
{% block content %}

<style nonce="{{ nonce }}">
.tableEmp th {
  padding: 0;
  position: relative;
  height: 60px;
  min-width: 20px;
}
.tableEmp td {
  padding: 1px 1px 1px 1px;
}
.tableEmp tbody tr:hover {
    background-color: #cccccc ;
}
.tableEmp div {
    position: absolute;
    padding: 0;
    vertical-align: top;
    top: 0;
    left: 0;
}
.tableEmp .table_search_input {
position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 11px;
    font-family: "Montserrat";
    background-color: #f3f3f3;
    border:0;
    color: #404040;
}
.tableEmp .table_search_input::placeholder {
    color: #c9c9c9;
    text-align: center;
}
.tableEmp .table_search_input:focus{
    color: #000000;
    background-color: #ffffff;
}
.overlay {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 6;
}
</style>



<body id="contracts-objects_page">

    {% include "_verification_dialog_empl.html" %}
    <section class="modal hidden" id="create-contract__dialog" class="create-contract__dialog" data-user_id="">
        <div id="user_card_title_frame">
            <label>НОВЫЙ ДОГОВОР. ВЫБОР ТИПА ДОГОВОРА</label>
            <img class="crossBtnNAW" id="user_card_crossBtnNAW" src="/static/img/employee/cross.svg">
        </div>
        <div id="create_contract_income_buttons_frame">
            <div class="create_contract_buttons_frame">
                <label id="create_contract_type_income_frame">ДОХОДНЫЕ:</label>
                <div class="button_dialog_wrapper">
                    <button type="button" id="create_contract_button_income_contract_frame">ДОХОДНЫЙ ДОГОВОР</button>
                    <button type="button" id="create_contract_button_income_subcontract_frame">ДОХОДНОЕ ДОП. СОГЛАШЕНИЕ</button>
            </div>
            </div>
            <div class="user_card_expenditure_button_group">
                <label id="create_contract_type_expenditure_frame">РАСХОДНЫЕ:</label>
                <div class="button_dialog_wrapper">
                    <button type="button" id="create_contract_button_expenditure_contract_frame">РАСХОДНЫЙ ДОГОВОР</button>
                    <button type="button" id="create_contract_button_expenditure_subcontract_frame">РАСХОДНОЕ ДОП. СОГЛАШЕНИЕ</button>
                </div>
            </div>
        </div>
    </section>
    <div id="employeeCardWin" class="overlay hidden"></div>

    <div id="proj-info">
        <div id="proj-info_wrapper">
            <img class="project_img" src="/static/img/contract/contract_logo.svg" class="image_mini_obj">
            <div class="proj-info-container">
            <h1>{{title}}</h1>
        </div>
    </div>
        <button class="object_main_btn" id="add_btn">ДОБАВИТЬ</button>
    </div>
    <div id="header-panel">
        {% for h in header_menu %}
                <div class={{h.class}}><a href="{{h.link}}">{{h.name}}</a></div>
        {% endfor %}
    </div>

    <div id="sortCol-1" hidden>{{ sort_col['col_1'][0] }}#{{ sort_col['col_1'][1] }}</div>
    <div id="sortCol-1_val" hidden>{{ sort_col['col_1'][2] }}</div>
    <div id="sortCol-id_val" hidden>{{ sort_col['col_id'] }}</div>

    <div class="tableEmp">
    <table class="employeeTable" id="employeeTable">
        <thead class="fix_thead">
            <tr>
                <th title="Выбор">
                    <div>ВЫБОР&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-0">
                </th>
                <th title="Название объекта">
                    <div id="sort-div-1">ОБЪЕКТ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-1">
                </th>
                <th title="Тип договора">
                    <div id="sort-div-2">ТИП&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-2">
                </th>
                <th title="Номер договора">
                    <div id="sort-div-3">№ ДОГОВОРА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-3">
                </th>
                <th title="Дата старта договора">
                    <div id="sort-div-4">ДАТА ДОГОВОРА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-4">
                </th>
                <th title="Дата окончания договора">
                    <div id="sort-div-5">ДАТА ОКОНЧАНИЯ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-5">
                </th>
                <th title="Номер дополнительного соглашения">
                    <div id="sort-div-6">№ ДОП.СОГЛ.&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-6">
                </th>
                <th title="Дата старта дополнительного соглашения">
                    <div id="sort-div-7">ДАТА ДОП.СОГЛ.&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-7">
                </th>
                <th title="Дата окончания дополнительного соглашения">
                    <div id="sort-div-8">ДАТА ОКОНЧАНИЯ ДС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-8">
                </th>
                <th title="Заказчик">
                    <div id="sort-div-9">ЗАКАЗЧИК&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-9">
                </th>
                <th title="Подрядчик">
                    <div id="sort-div-10">ПОДРЯДЧИК&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-10">
                </th>
                <th title="Краткое описание, примечание">
                    <div id="sort-div-11">ПРИМЕЧАНИЕ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-11">
                </th>
                <th title="Статус">
                    <div id="sort-div-12">СТАТУС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-12">
                </th>
                <th title="Учитывается / НЕ учитывается">
                    <div id="sort-div-13">НАЗНАЧЕНИЕ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-13">
                </th>
                <th title="НДС">
                    <div id="sort-div-14">НДС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-14">
                </th>
                <th title="Общая сумма">
                    <div id="sort-div-15">СУММА БЕЗ НДС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-15">
                </th>
                <th title="Дата создания">
                    <div id="sort-div-16">ДАТА СОЗДАНИЯ&nbsp;<span class="arrow_sort">▲</span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-16">
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>



</body>

{% endblock %}

