{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/contractCard.js" nonce="{{ nonce }}"></script>
<script src="/static/script/object_addTow.js" nonce="{{ nonce }}"></script>
<script src="/static/script/object_shiftTow.js" nonce="{{ nonce }}"></script>

{% endblock %}
{% block content %}


<body id="contracts-objects_page__stng">

    {% include "_verification_dialog_empl.html" %}

    <div id="proj-info">
        <div class="title_head">
        <img class="project_img" width="50" height="50" src="/static/img/contract/contract_logo.svg" class="image_mini_obj">
        <div class="proj-info-container">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="btn_head">
        <button class="object_main_btn" id="edit_btn">РЕДАКТИРОВАТЬ</button>
        <button class="object_main_btn" id="save_btn" hidden>СОХРАНИТЬ</button>
        <button class="object_main_btn" id="cancel_btn" hidden>ОТМЕНА</button>
    </div>
    </div>

    <div id="contract_type" hidden>{{ contract_info.type_id }}</div>

    <div class="contract_card_form__field_wrapper" id="ctr_mini_card_div">
        <div class="contract_card_form_parameter" id="ctr_card_obj_div">
            <label id="ctr_card_obj_label" for="ctr_card_obj">ОБЪЕКТ</label>
            <select class="selectSearch2" data-placeholder="Выберите объект из списка" id="ctr_card_obj" name="ctr_card_obj_select" {% if contract_info.ob1ject_id %} disabled {% endif %} required>
                <option></option>
                {% for obj in objects_name %}
                <option value="{{ obj.object_id }}" {% if obj.object_id == contract_info.object_id %} selected {% endif %}>{{ obj.object_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="contract_card_form_parameter" id="ctr_card_contract_number_div">
            <label id="ctr_card_contract_number_label" for="ctr_card_contract_number">{% if not contract_info.parent_number %}ДОГОВОР №{% else %}ДОП. СОГЛАШЕНИЕ №{% endif %}</label>
            <input type="text" name="ctr_card_contract_number" id="ctr_card_contract_number" value="{{contract_info.contract_number}}" placeholder="Укажите номер {% if contract_info.parent_number %}субподрядного {% endif %}договора" required/>
        </div>

        <div class="contract_card_form_parameter" id="ctr_card_status_name_div">
            <label id="ctr_card_status_name_label" for="ctr_card_contractor">СТАТУС</label>
            <select class="selectSearch2" data-placeholder="Выберите статус из списка" id="ctr_card_status_name" name="ctr_card_status_name_select" required>
                <option></option>
                {% for sn in contract_statuses %}
                <option value="{{ sn.contract_status_id }}" {% if sn.contract_status_id == contract_info.contract_status_id %} selected {% endif %}>{{ sn.status_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="contract_card_form_parameter" id="ctr_card_cost_div">
            <label id="ctr_card_cost_label" for="ctr_card_cost">СТОИМОСТЬ</label>
                <div>
                    <input type="text" name="ctr_card_cost" id="ctr_card_cost" value="{{contract_info.contract_cost_rub}}" placeholder="Укажите стоимость договора" required/>
                <div class="ctr_card_cost_div__flexcont">
                    <label class={% if contract_info.contractor_value == 'true' %} "ctr_card_contract_vat_positive" {% else %} "ctr_card_contract_vat_negative" {% endif %}
                    id="ctr_card_contract_vat_label" data-vat="{{contract_info.contractor_value}}">{% if contract_info.contractor_value == 'true' %}С НДС{% else %}БЕЗ НДС{% endif %}</label>
                    <label class="ctr_card_contract_vat_negative" id="ctr_card_contract_prolongation_label">Автопродление</label>
                </div>
                </div>
        </div>

        <div class="button_wrapper">
            <button class="ctr_card_attach_file_button" id="id_ctr_card_attach_file_button" title="Отобразить полную информацию">
                <img src="/static/img/contract/card_full_info_show.svg">
            </button>
        </div>
    </div>

    <div class="contract_card_form__field_wrapper" id="ctr_full_card_div"  hidden="hidden">

        <div class="contract_card_form_row" id="contract_card_form_row_1">
            <div class="contract_card_form_parameter" id="ctr_card_full_obj_div">
                <label id="ctr_card_full_obj_label" for="ctr_card_full_obj">ОБЪЕКТ</label>
                <select class="selectSearch2" data-placeholder="Выберите объект из списка" id="ctr_card_full_obj" name="ctr_card_obj_select" {% if contract_info.object_id %} disabled {% endif %} required>
                    <option></option>
                    {% for obj in objects_name %}
                    <option value="{{ obj.object_id }}" {% if obj.object_id == contract_info.object_id %} selected {% endif %}>{{ obj.object_name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if contract_info.parent_number %}
            <div class="contract_card_form_parameter" id="ctr_card_full_parent_number_div">
                <label id="ctr_card_full_parent_number_label" for="ctr_card_full_parent_number">ОСНОВНОЙ ДОГОВОР №</label>
                {% if not contracts %}
                    <input type="text" name="ctr_card_full_parent_number" id="ctr_card_full_parent_number" value="{{contract_info.parent_number}}" {% if contract_info.object_id %} disabled {% endif %} required/>
                {% else %}
                    <select class="selectSearch2" data-placeholder="Выберите номер договора из списка" id="ctr_card_parent_number" name="ctr_card_partner_select" {% if contract_info.object_id %} disabled {% endif %} required>
                        <option></option>
                        {% for c in contracts %}
                        <option value="{{ c.contract_id }}" {% if c.contract_id == contract_info.parent_id %} selected {% endif %}>{{ c.contract_number }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
            {% endif %}
            <div class="contract_card_form_parameter" id="ctr_card_full_contract_number_div">
                <label id="ctr_card_full_contract_number_label" for="ctr_card_full_contract_number">{% if not contract_info.parent_number %}ДОГОВОР №{% else %}ДОП. СОГЛАШЕНИЕ №{% endif %}</label>
                <input type="text" name="ctr_card_full_contract_number" id="ctr_card_full_contract_number" value="{{contract_info.contract_number}}" placeholder="Укажите номер {% if contract_info.parent_number %}субподрядного {% endif %}договора" required/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_partner_div">
                <label id="ctr_card_partner_label" for="ctr_card_partner">КОНТРАГЕНТ</label>
                <select class="selectSearch2" data-placeholder="Выберите контрагента из списка" id="ctr_card_partner" name="ctr_card_partner_select" required>
                    <option></option>
                    {% for p in partners %}
                    <option value="{{ p.partner_id }}" {% if p.partner_id == contract_info.partner_id %} selected {% endif %}>{{ p.partner_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_full_status_name_div">
                <label id="ctr_card_status_full_name_label" for="ctr_card_full_status_name">СТАТУС</label>
                <select class="selectSearch2" data-placeholder="Выберите статус из списка" id="ctr_card_full_status_name" name="ctr_card_status_name_select" required>
                    <option></option>
                    {% for sn in contract_statuses %}
                    <option value="{{ sn.contract_status_id }}" {% if sn.contract_status_id == contract_info.contract_status_id %} selected {% endif %}>{{ sn.status_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="contract_card_form_row" id="contract_card_form_row_2">
            <div class="contract_card_form_parameter" id="ctr_card_allow_div" title="Учитывается / Не учитывается">
                <label id="ctr_card_allow_label" for="user_card_allow">НАЗНАЧЕНИЕ</label>
                <input type="checkbox" name="user_card_allow" id="user_card_allow"  {% if contract_info.allow %}checked{% endif %}/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_contractor_div">
                <label id="ctr_card_contractor_label" for="ctr_card_contractor">ЗАКАЗЧИК</label>
                <select class="selectSearch2" data-vat="{{contract_info.vat}}" data-placeholder="Выберите заказчик из списка" id="ctr_card_contractor" name="ctr_card_contractor_select" required>
                    <option></option>
                    {% for c in our_companies %}
                    <option value="{{ c.contractor_id }}" data-vat="{{c.vat}}" {% if c.contractor_id == contract_info.contractor_id %} selected {% endif %}>{{ c.contractor_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="contract_card_form_parameter" id="ctr_card_fot_value_div">
                    <label id="ctr_card_fot_value_label" for="ctr_card_fot_value">{% if contract_info.type_id == 1 %}% ФОТ{% else %}КОЭФ. РАБОТ{% endif %}</label>
                    <input type="text" name="ctr_card_fot_value" id="ctr_card_fot_value" {% if contract_info.type_id == 1 %}value="{{contract_info.fot_percent}}" placeholder="Укажите процент ФОТ"{% else %}value="Не отработано" placeholder="Укажите значение"{% endif %} required/>
            </div>
            {% if contract_info.type_id == 1 %}
            <div class="contract_card_form_parameter" id="ctr_card_contract_description_div">
                <label id="ctr_card_contract_description_label" for="ctr_card_contract_description">ПРИМЕЧАНИЕ</label>
                <input type="text" name="ctr_card_contract_description" id="ctr_card_contract_description" value="{{contract_info.contract_description}}" placeholder="Дополнительная информация" />
            </div>
            {% endif %}
        </div>

        <div class="contract_card_form_row" id="contract_card_form_row_3">
            <div class="contract_card_form_parameter" id="ctr_card_full_cost_div">
                <label id="ctr_card_full_cost_label" for="ctr_card_cost">СТОИМОСТЬ</label>
                <div>
                    <input type="text" name="ctr_card_cost" id="ctr_card_full_cost" value="{{contract_info.contract_cost_rub}}" placeholder="Укажите стоимость договора" required/>
                    <div class="labelwrapper">
                    <label id="ctr_card_contract_full_vat_label" data-vat="{{contract_info.contractor_value}}"  class={% if contract_info.contractor_value == 'true' %} "ctr_card_contract_vat_positive" {% else %} "ctr_card_contract_vat_negative" {% endif %}
                    >{% if contract_info.contractor_value == 'true' %}С НДС{% else %}БЕЗ НДС{% endif %}</label>

                    <label class="ctr_card_contract_vat_negative" id="ctr_card_contract_full_prolongation_label">Автопродление</label>
                    </div>
                </div>
            </div>
            {% if contract_info.type_id == 1 %}
            <div class="contract_card_form_parameter" id="ctr_card_cost_without_reserve_div">
                <label id="ctr_card_cost_without_reserve_label" for="ctr_card_cost_without_reserve">СТОИМОСТЬ БЕЗ РЕЗЕРВА</label>
                <input type="text" name="ctr_card_cost_without_reserve" id="ctr_card_cost_without_reserve" value="в разработке" disabled/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_fot_cost_div">
                <label id="ctr_card_fot_cost_label" for="ctr_card_fot_cost">СТОИМОСТЬ ФОТ</label>
                <input type="text" name="ctr_card_fot_cost" id="ctr_card_fot_cost" value="{{contract_info.contract_fot_cost_rub}}" disabled/>
            </div>
            {% endif %}
            <div class="contract_card_form_parameter" id="ctr_card_subcontract_cost_div">
                <label id="ctr_card_subcontract_cost_label" for="ctr_card_subcontract_cost">СТОИМОСТЬ СУБПОДРЯДА</label>
                <input type="text" name="ctr_card_subcontract_cost" id="ctr_card_subcontract_cost" value="{{subcontractors_cost}}" disabled/>
            </div>
        </div>

        <div class="contract_card_form_row" id="contract_card_form_row_4">
            <div class="contract_card_form_parameter" id="ctr_card_date_start_div">
                <label id="ctr_card_date_start_label" for="ctr_card_date_start">ДАТА НАЧАЛА</label>
                <input type="text" name="ctr_card_date_start" id="ctr_card_date_start" value="{{contract_info.date_start_txt}}" placeholder="Укажите дату начала договора" required/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_date_finish_div">
                <label id="ctr_card_date_finish_label" for="ctr_card_date_finish">ДАТА ОКОНЧАНИЯ</label>
                <input type="text" name="ctr_card_date_finish" id="ctr_card_date_finish" value="{{contract_info.date_finish_txt}}" placeholder="Укажите дату окончания договора" required/>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_attach_files_div">
                <label id="ctr_card_attach_files_label">ЭЛЕКТРОННАЯ ВЕРСИЯ</label>
                <button class="ctr_card_attach_file" id="id_ctr_card_attach_file" title="Загрузить файл">
                    <img src="/static/img/contract/attach_file.svg">
                </button>
            </div>
            <div class="contract_card_form_parameter" id="ctr_card_files_list_div">
            </div>
        </div>
        {% if contract_info.type_id == 1 %}
        <div class="contract_card_form_row" id="contract_card_form_row_5">
            <div class="contract_card_form_reserve_left" id="ctr_card_reserve1_left">
                <label id="ctr_card_date_reserve1_label">РЕЗЕРВ</label>
            </div>
            <div class="contract_card_form_reserve_right" id="ctr_card_reserve_right_div">
                <div class="contract_card_form_parameter" id="ctr_card_reserve_right_1_div">
                    <datalist id="ctr_card_reserve_right_name_1">
                        <option></option>
                        {% for reserv in reserve_names %}
                        <option value="{{ reserv[0] }}">{{ reserv[0] }}</option>
                        {% endfor %}
                    </datalist>
                    <input type="text" name="ctr_card_reserve_right_value_1" id="ctr_card_reserve_right_value_1" value="в разработке" placeholder="Сумма резерва" required disabled/>
                </div>

                <div class="contract_card_form_parameter" id="ctr_card_add_reserve_div">
                    <button class="ctr_card_add_reserve" id="id_ctr_card_add_reserve" title="Добавить новый резерв">
                        <img src="/static/img/contract/add_reserve.svg">
                    </button>
                </div>
                <div class="contract_card_form_parameter" id="ctr_card_reserve_gip_div">
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    <div id="ctr_hide_full_card_info" hidden="hidden">
        <button class="ctr_hide_full_card_info_button" id="id_ctr_hide_full_card_info_button" title="Отобразить полную информацию">
            <img src="/static/img/contract/card_full_info_hide.svg">
        </button>
    </div>

    <div class="div_above_qqqq" id="header-panel">
        <label id="div_above_qqqq_title">ВИДЫ РАБОТ</label>
        <label id="div_above_qqqq_undistributed">НЕ РАСПРЕДЕЛЕНО:</label>
        <label id="div_above_qqqq_undistributed_cost" data-contract_cost="{{ contract_info.contract_cost }}" data-undistributed_cost="{{ contract_info.undistributed_cost }}">{{ contract_info.undistributed_cost_rub }}</label>
        <div class="div_above_qqqq_button_panel" id="div_above_qqqq_button_panel">
            <button class="ctr_card_multiselect_off" id="id_ctr_card_multiselect_on" title="Выбор со всеми вложениями" hidden="hidden">
                <img>
            </button>
            <button class="ctr_card_columns_settings" id="id_ctr_card_columns_settings" title="Настройка таблицы">
                <img src="/static/img/object/tow/columns_settings.svg">
            </button>
            <button class="ctr_card_focus_in" id="id_ctr_card_focus_in" title="Сфокусировать выбор на выбранном виде работ">
                <img src="/static/img/object/tow/tabler_focus-in.svg">
            </button>
        </div>
    </div>

    <div class="qqqq">
    <table class="tow" id="towTable">
        <thead class="fix_thead">
            <tr>
                <th class="th_tow_name">
                    <div>ВИД РАБОТЫ</div>
                </th>
                <th class="th_tow_dept">
                    <div></div>
                </th>
                <th class="th_tow_dept" id="groupth">
                    <div>ОТДЕЛ</div>
                </th>
                <th class="th_tow_dept" id="sumth">
                    <div>СУММА</div>
                </th>
                <th class="th_tow_dept" id="percentth">
                    <div>% СУММЫ</div>
                </th>
                <th class="th_tow_dept" id="fotth">
                    <div>СУММА ФОТ</div>
                </th>
                <th class="th_tow_dept" id="supbprojthth">
                    <div>СУБП. ПРОЕКТА</div>
                </th>
                <th class="th_tow_dept" id="datestartth">
                    <div>НАЧАЛО</div>
                </th>
                <th class="th_tow_dept" id="dateendth">
                    <div>ОКОНЧАНИЕ</div>
                </th>
            </tr>

        </thead>
        {% if tow %}
            {% for t in tow %}
            <tr class="lvl-{{t.depth}}" data-lvl="{{t.depth}}" data-del="{{t.del}}" data-tow_cnt="{{t.tow_cnt4}}" data-value_type="{{t.value_type}}" id="{{t.tow_id}}">
                <td class="tow_name">
                    <div class="div_tow_name"><input type="text" class="input_tow_name" placeholder="Введите название работы" value="{{t.tow_name}}" disabled></div>
                    <div class="div_tow_button" hidden>{% include "_object-tow_button.html" %}</div>
                </td>
                <td class="tow_contract">
                    <input type="checkbox" class="checkbox_time_tracking" {{t.contract_tow}}>
                </td>
                <td class="dept tow_dept">
                    <select disabled class="select_tow_dept">
                        <option value=""></option>
                        {% for dept in dept_list %}
                            <option value="{{ dept.id }}" {% if dept.id == t.dept_id %} selected {% endif %}>{{ dept.name }}</option>
                        {% endfor %}
                    </select>
                <td class="cost"><input type="text" class="tow_cost {{t.tow_cost_status}}" data-value="{{t.tow_cost}}" value="{{t.tow_cost_rub}}"></td>
                <td class="cost_percent"><input type="text" class="tow_cost_percent {{t.tow_cost_percent_status}}" data-value="{{t.tow_cost_percent}}" value="{% if t.tow_cost_percent_txt %}{{t.tow_cost_percent_txt}} %{% else %}{% endif %}"></td>
                <td class="fot_cost"><input type="text" class="tow_fot_cost" data-value="{{t.tow_fot_cost}}" value="{{t.tow_fot_cost_rub}}" disabled></td>
                <td class="subcontractor_cost"><input type="text" class="tow_subcontractor_cost" data-value="{{t.summary_subcontractor_cost}}" value="{{t.summary_subcontractor_cost_rub}}" disabled></td>
                <td class="date_start"><input type="text" class="tow_date_start" data-value="{{t.tow_date_start}}" value="{{t.date_start_txt}}"></td>
                <td class="date_finish"><input type="text" class="tow_date_finish" data-value="{{t.tow_date_finish}}" value="{{t.date_finish_txt}}"></td>
            </tr>
            {% endfor %}
        {% elif contract_info.object_id %}
            <tr class="div_tow_first_row">
                <td class="div_tow_first_cell" colspan="3">
                    <button class="button_tow_first_cell">+ Начать создание состава работ</button>
                </td>
            </tr>
        {% else %}
            <tr class="div_tow_first_row">
                <td></td>
            </tr>
        {% endif %}
    </table>
    </div>
</body>

{% endblock %}
