{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/employeeCard.js" nonce="{{ nonce }}"></script>
<script src="/static/script/employeePagination.js" nonce="{{ nonce }}"></script>
<script src="/static/script/employeeFilter.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentSort.js" nonce="{{ nonce }}"></script>

{% endblock %}
{% block content %}


<body id="employee-list_page">

    {% include "_card-user.html" %}
    {% include "_verification_dialog_empl.html" %}
    <div id="employeeCardWin" class="overlay hidden"></div>
    <div id="proj-info">
        <div class="title_header">
            <img class="project_img" src="/static/img/employee/employee_logo.svg" class="image_mini_obj">
            <h1>{{title}}</h1>
        </div>

<!--        <button class="object_main_btn" id="edit_btn">РЕДАКТИРОВАТЬ</button>-->
<!--        <button class="object_main_btn" id="save_btn" hidden>СОХРАНИТЬ</button>-->
<!--        <button class="object_main_btn" id="cancel_btn" hidden>ОТМЕНА</button>-->
    </div>

    <div id="sortCol-1" hidden>{{ sort_col['col_1'][0] }}#{{ sort_col['col_1'][1] }}</div>
    <div id="sortCol-1_val" hidden>{{ sort_col['col_1'][2] }}</div>
    <div id="sortCol-id_val" hidden>{{ sort_col['col_id'] }}</div>

    <div class="tableEmp">
    <table class="employeeTable" id="employeeTable">
        <thead class="fix_thead">
            <tr>
                <th id="th_company" title="Компания">
                    <div id="sort-div-0">КОМПАНИЯ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-0">
                </th>
                <th id="th_number" title="Таб №">
                    <div id="sort-div-1">ТАБ №&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-1">
                </th>
                <th id="th_empname" title="ФИО сотрудника">
                    <div id="sort-div-2">ФИО СОТРУДНИКА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-2">
                </th>
                <th id="th_job_special" title="Отдел">
                    <div id="sort-div-3">ОТДЕЛ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-3">
                </th>
                <th id="th_group" title="Группа">
                    <div id="sort-div-4">ГРУППА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-4">
                </th>
                <th id="th_job" title="Должность">
                    <div id="sort-div-5">ДОЛЖНОСТЬ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-5">
                </th>
                <th id="th_bday" title="Дата рождения">
                    <div id="sort-div-6">ДАТА РОЖДЕНИЯ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-6">
                </th>
                <th id="th_educationgrade" title="Образование">
                    <div id="sort-div-7">ОБРАЗОВАНИЕ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-7">
                </th>
                <th id="th_salary" title="Текущая зарплата">
                    <div id="sort-div-8">ТЕКУЩАЯ ЗП&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-8">
                </th>
                <th id="th_salary_date" title="Дата изменения зарплаты">
                    <div id="sort-div-9">ДАТА ИЗМЕНЕНИЯ ЗП&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-9">
                </th>
                <th id="status" title="Статус">
                    <div id="sort-div-10">СТАТУС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-10">
                </th>
                <th id="th_date_start_job" title="Дата приёма на работу">
                    <div id="sort-div-11">ДАТА ПРИЁМА&nbsp;<span class="arrow_sort">▲</span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-11">
                </th>
                <th id="th_date_end_job" title="Дата увольнения">
                    <div id="sort-div-12">ДАТА УВОЛЬНЕНИЯ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-12">
                </th>
                <th id="th_alltime" title="Общее количество проработанных часов">
                    <div id="sort-div-13">РАБОЧИХ ДНЕЙ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-13">
                </th>
                <th id="th_alltime_in_day" title="Количество рабочих часов в день">
                    <div id="sort-div-14">НОРМА ДНЯ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-14">
                </th>
                <th id="th_status_jobtime" title="Статус подачи часов сотрудником">
                    <div id="sort-div-15">ТРУДОЗАТРАТЫ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-15" disabled hidden="hidden">
                </th>
                <th id="th_age" title="Возраст сотрудника">
                    <div id="sort-div-16">ПОЛНЫХ ЛЕТ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-16">
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>

</body>
{% endblock %}