{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/employeePagination.js" nonce="{{ nonce }}"></script>
<script src="/static/script/employeeFilter.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentSort.js" nonce="{{ nonce }}"></script>
<script src="/static/script/employeeCard.js" nonce="{{ nonce }}"></script>

<style nonce="{{ nonce }}">
.current {
    color: #c4c4c4c4;
    background-color: black;
}
.current a {
    color: white;
    &:hover {
        color: #c4c4c4c4;
    }
}
#proj-info {
  display: flex;
  align-items: center;
}
.proj-info-container h1, label {
  margin: 0;
}
.object_main_btn {
    width: 100%;
    height: 30px;
    border-width: 2px;
    background-color: white;
    color: #4285F4;
    border-color: #4285F4;
    border-radius: 0;
    box-shadow: none;
}
.object_main_btn:hover {
    background-color: #4285F4;
    color: white;
    border-color: #4285F4;
    border-style: solid;
}
table tbody tr:nth-child(2n+1) {
    border-bottom: 1px solid;
    border-color: #f3f3f3;
    background-color: #ffffff;
}
table tr:nth-child(2n) {
    border-bottom: 1px solid;
    border-color: #f3f3f3;
    background-color: #ffffff;
}
.tableEmp {
  max-height: calc(100vh - 296px);
  overflow-x: scroll;
  margin: 0px 0 5px 0;
}
.tableEmp::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #d7d7d7;
}
.tableEmp::-webkit-scrollbar-track {
  background-color: #d7d7d7;
}
.tableEmp::-webkit-scrollbar-thumb {
  background-color: #939393;
}
.tableEmp table {
  width: 100%;
  height: 100%;
}
.tableEmp table .fix_thead {
  position: sticky;
  top: 0px;
  color: #ffffff;
  background-color: #787878;
}
.tableEmp th {
  padding: 0;
  position: relative;
  height: 60px;
  min-width: 20px;
}
.tableEmp td {
  padding: 1px 1px 1px 1px;

}
.tableEmp tr {

}

.tableEmp tbody tr:hover {
    background-color: #cccccc ;
}

.tableEmp div {
    position: absolute;
    padding: 0;
    vertical-align: top;
    top: 0;
    left: 0;
}

.tableEmp .table_search_input {
position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 11px;
    font-family: "Montserrat";
    background-color: #f3f3f3;
    border:0;
    color: #404040;
}
.tableEmp .table_search_input::placeholder {
    color: #c9c9c9;
    text-align: center;
}
.tableEmp .table_search_input:focus{
    color: #000000;
    background-color: #ffffff;
}
.overlay {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 6;
}
.hidden {
  display: none !important;
}
.button_add_employee {
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
    background-color: white;
    color: #4285F4;
    border: 1px solid #4285F4;
    border-radius: 0;
    box-shadow: none;
}
.button_add_employee:hover {
    background-color: #4285F4;
    color: white;
    border-color: #4285F4;
    border-style: solid;
}
button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
button:hover {
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transform: scale(1.2)
}
.modal {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 800px;
    height: 550px;
    max-width: 800px;
    max-height: 550px;
    padding: 1.3rem;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 7;
}
.modal .flex {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.hidden {
  display: none !important;
}



















</style>

{% endblock %}
{% block content %}


<body id="employee-list_page">

    {% include "_card-user.html" %}
    {% include "_verification_dialog_empl.html" %}
    <div id="employeeCardWin" class="overlay hidden"></div>
    <div id="proj-info">
        <img class="project_img" width="50" height="100" src="/static/img/employee/employee_logo.svg" class="image_mini_obj">
        <div class="proj-info-container">
            <h1>{{title}}</h1>
        </div>

        <button class="object_main_btn" id="edit_btn">РЕДАКТИРОВАТЬ</button>
        <button class="object_main_btn" id="save_btn" hidden>СОХРАНИТЬ</button>
        <button class="object_main_btn" id="cancel_btn" hidden>ОТМЕНА</button>
    </div>

    <div id="sortCol-1" hidden>{{ sort_col['col_1'][0] }}#{{ sort_col['col_1'][1] }}</div>
    <div id="sortCol-1_val" hidden>{{ sort_col['col_1'][2] }}</div>
    <div id="sortCol-id_val" hidden>{{ sort_col['col_id'] }}</div>

    <div class="tableEmp">
    <table class="employeeTable" id="employeeTable">
        <thead class="fix_thead">
            <tr>
                <th title="Компания">
                    <div id="sort-div-0">КОМПАНИЯ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-0">
                </th>
                <th title="Таб №">
                    <div id="sort-div-1">ТАБ №&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-1">
                </th>
                <th title="ФИО сотрудника">
                    <div id="sort-div-2">ФИО СОТРУДНИКА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-2">
                </th>
                <th title="Отдел">
                    <div id="sort-div-3">ОТДЕЛ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-3">
                </th>
                <th title="Группа">
                    <div id="sort-div-4">ГРУППА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-4">
                </th>
                <th title="Должность">
                    <div id="sort-div-5">ДОЛЖНОСТЬ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-5">
                </th>
                <th title="Дата рождения">
                    <div id="sort-div-6">ДАТА РОЖДЕНИЯ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-6">
                </th>
                <th title="Образование">
                    <div id="sort-div-7">ОБРАЗОВАНИЕ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-7">
                </th>
                <th title="Текущая зарплата">
                    <div id="sort-div-8">ТЕКУЩАЯ ЗАРПЛАТА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-8">
                </th>
                <th title="Дата изменения зарплаты">
                    <div id="sort-div-9">ДАТА&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-9">
                </th>
                <th title="Статус">
                    <div id="sort-div-10">СТАТУС&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-10">
                </th>
                <th title="Дата приёма на работу">
                    <div id="sort-div-11">ДАТА ПРИЁМА&nbsp;<span class="arrow_sort">▲</span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-11">
                </th>
                <th title="Дата увольнения">
                    <div id="sort-div-12">ДАТА УВОЛЬНЕНИЯ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-12">
                </th>
                <th title="Общее количество проработанных часов">
                    <div id="sort-div-13">РАБОЧИХ ДНЕЙ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-13">
                </th>
                <th title="Количество рабочих часов в день">
                    <div id="sort-div-14">НОРМА ДНЯ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-14">
                </th>
                <th title="Статус подачи часов сотрудником">
                    <div id="sort-div-15">ТРУДОЗ АТРАТЫ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-15" disabled hidden="hidden">
                </th>
                <th title="Возраст сотрудника">
                    <div id="sort-div-16">ПОЛНЫХ ЛЕТ&nbsp;<span class="arrow_sort"></span></div>
                    <input class="table_search_input" type="search" placeholder="Поиск" id="filter-input-16">
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>

</body>
{% endblock %}