{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/objectCreate.js" nonce="{{ nonce }}"></script>

{% endblock %}
{% block content %}
<body id="main_page_object">
    <h1><img src="/static/img/object/objects_main.svg">{{title}}</h1>
    <div id="wrapper_mainpage_overflow">
        <div id="wrapper_mainpage">
            <div id="container">
                <div id="left-panel">
                    {% for p in left_panel %}
                        <div><a href="{{p.link}}" target="_blank">{{p.name}}</a></div>
                    {% endfor %}
                </div>
        <div id="right-panel">
            <div id="objects-heading">
                <div id="obj_name_panel">ОБЪЕКТЫ</div>
                <div id="obj_checkbox">

                    <div id="obj_checkbox_obj_list" hidden>
                        <table >
                        {% if objects %}
                            {% for o in objects %}
                            <tr>
                                <td>{{o.object_id}}</td>
                                <td>{{o.object_name}}</td>
                                <td>{{o.project_img_mini}}</td>
                                <td>{{o.project_close_status}}</td>
                                <td>{{o.obj_link}}</td>
                                <td>{{o.create_obj}}</td>
                                <td>{{o.project_and_tasks}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </table>
                    </div>
                    <div id="obj_checkbox_proj_list" hidden>
                        <table >
                        {% if projects %}
                            {% for o in projects %}
                            <tr>
                                <td>{{o.object_id}}</td>
                                <td>{{o.object_name}}</td>
                                <td>{{o.project_img_mini}}</td>
                                <td>{{o.project_close_status}}</td>
                                <td>{{o.obj_link}}</td>
                                <td>{{o.create_obj}}</td>
                                <td>{{o.project_and_tasks}}</td>
                            </tr>

                            {% endfor %}
                        {% endif %}
                        </table>
                    </div>

                    <label class="toggle">
                        <input type="checkbox" id="obj_checkbox_obj_proj_toggle" checked>
                        <span class="slider round">
                            <span class="caption left">Проекты</span>
                            <span class="caption right">Объекты</span>
                        </span>
                    </label>
                </div>
                <div id="search-bar">
                    <input class="table_search_input" type="search" placeholder="Поиск" id="search">
                </div>
            </div>
            <div id="object-list">
                {% for proj in projects %}
                    <div class="objectItem" name="{{proj.object_id}}">
                        <div class="project_img_div">
                            {% if proj.project_img_mini %}
                                <img src="{{proj.project_img_mini}}" alt="{{proj.object_name}}" class="image_mini_obj">
                            {% else %}
                                <img src="/static/img/object/empty_image_mini_obj.svg" alt="{{proj.object_name}}" class="image_mini_obj">
                            {% endif %}
                        </div>

                        <div class="object_name">
                            {% if proj.obj_link %}
                                <a href="/objects/{{proj.obj_link}}" target="_blank">{{proj.object_name}}</a>
                            {% else %}
                                {{proj.object_name}}
                            {% endif %}
                        </div>

                        {% if proj.create_obj %}
                            <div><a href="{{proj.create_obj}}">Создать проект</a></div>
                        {% endif %}

                        {% if proj.project_and_tasks %}
                            <div id="clock_ico_container"><a href="/objects/{{proj.obj_link}}/{{proj.project_and_tasks}}" title="Раздел задачи и проекты" target="_blank">&#128337;</a></div>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

</body>

{% endblock %}

