{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<body id="main_page_object">
    <h1><img src="/static/img/object/objects_main.svg">{{title}}</h1>
    <div id="wrapper_mainpage_overflow">
        <div id="wrapper_mainpage">
            <div id="container">
                <div id="left-panel">
                    {% for p in left_panel %}
                        <div><a href="{{p.link}}">{{p.name}}</a></div>
                    {% endfor %}
                </div>
        <div id="right-panel">
            <div id="objects-heading">
                <div id="obj_name_panel">ОБЪЕКТЫ</div>
                <div id="search-bar">
                    <input placeholder="Поиск" type="text" id="search" name="search">
                </div>
            </div>
            <div id="object-list">
                {% for obj in objects %}
                    <div class="objectItem" name="{{obj.object_id}}">
                        <div class="project_img_div">
                            {% if obj.project_img_mini %}
                                <img src="{{obj.project_img_mini}}" alt="{{obj.object_name}}" class="image_mini_obj">
                            {% else %}
                                <img src="/static/img/object/empty_image_mini_obj.png" alt="{{obj.object_name}}" class="image_mini_obj">
                            {% endif %}
                        </div>


                        <div id="object_name">
                            {% if obj.obj_link %}
                                <a href="/objects/{{obj.obj_link}}">{{obj.object_name}}</a>
                            {% else %}
                                {{obj.object_name}}
                            {% endif %}
                        </div>
                        {% if obj.create_obj %}
                            <div><a href="{{obj.create_obj}}">Создать проект</a></div>
                        {% endif %}
                        {% if obj.project_and_tasks %}
                            <div id="clock_ico_container"><a href="{{obj.project_and_tasks}}" title="Раздел задачи и проекты">&#128337;</a></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

</body>

{% endblock %}

