{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<style nonce="{{ nonce }}">
        body {
            margin: 0;
        }

        #container {
            display: flex;
        }

        #left-panel {
            width: 33.33%;
            padding: 20px;
            box-sizing: border-box;
            background-color: #c4c4c4c4;

        }

        #right-panel {
            width: 66.67%;
            padding-left: 20px;
            box-sizing: border-box;
        }

        #objects-heading {
            font-size: 24px;
            margin-bottom: 10px;
            display: flex;
            background-color: #c4c4c4c4;
        }

        #search-bar {
            margin-bottom: 20px;
            padding-left: 20px;
            background-color: EFF0F6;
        }

        #object-list {
            max-height: 400px;
            overflow-y: auto;
        }

        .section-heading {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .objectItem {
            font-size: 14px;
        }
        input#search{
            background-image: url(/static/img/object/icon-search.png);
            background-repeat: no-repeat;
            text-indent: 20px;
        }
        input#search:focus{
            background-image:none;
            text-indent: 0px;
        }
        .objectItem {
            display: flex;
            vertical-align: baseline;
            padding: 1px;
        }
        #object_name {
            margin: 0 10px 0 10px;
            align-items: center;
        }
        .image_mini_obj{
            width: 20px;
            border-radius: 10px;
    }
        }
    </style>

    <body id="main_page">
        <h1><img src="/static/img/object/objects_main.svg">{{title}}</h1>

        <div id="container">
            <div id="left-panel">
                {% for p in left_panel %}
                    <div><a href="{{p.link}}">{{p.name}}</a></div>
                {% endfor %}
            </div>
            <div id="right-panel">
                <div id="objects-heading">ОБЪЕКТЫ
                    <div id="search-bar">
                        <input placeholder="Поиск" type="text" id="search" name="search">
                    </div>
                </div>
                <div id="object-list">
                    {% for obj in objects %}
                        <div class="objectItem" name="{{obj.object_id}}">
                            <div class="project_img_div">
                                {% if obj.project_img_mini %}
                                    <img src="{{obj.project_img_mini}}" alt="{{obj.object_name}}" class="image_mini_obj">
                                {% else %}
                                    <img src="/static/img/object/empty_image_mini_obj.png" alt="{{obj.object_name}}" class="image_mini_obj">
                                {% endif %}
                            </div>
                            <div id="object_name">
                                {% if obj.obj_link %}
                                    <a href="/objects/{{obj.obj_link}}">{{obj.object_name}}</a>
                                {% else %}
                                    {{obj.object_name}}
                                {% endif %}
                            </div>
                            {% if obj.create_obj %}
                                <a href="{{obj.create_obj}}">Создать проект</a>
                            {% endif %}
                            {% if obj.project_and_tasks %}
                                <a href="{{obj.project_and_tasks}}"><img src="/static/img/object/project_and_tasks.png" alt="Раздел задачи и проекты" id="image_mini_project_and_tasks"></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>



    </body>

{% endblock %}

