{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/object.js"></script>
<link rel="stylesheet" href="/static/style/style_nikolai.css">


{% endblock %}
{% block content %}

<body id="main_page">

    <div id="div_full_screen_image_obj" onclick="(this).hidden=true">
        <img class="project_full_screen_img" src={% if proj.project_img %}"{{proj.project_img}}"{% else %}"/static/img/object/empty_image_mini_obj.png"{% endif %} id="full_screen_image_obj">

        <div class="project_full_screen_h1">
            <hr class="project_full_screen_hr">
            {{proj.object_name}}
        </div>
    </div>

    {% include "_layout_objects.html" %}

    <div id="obj_main_info">
        <div class="project_form__field_wrapper">
            <label>Заказчик, как на титуле: </label>
            <input type="text" name="customer" value="{{proj.customer}}" required readonly />
        </div>
        <div class="project_form__field_wrapper">
            <label>Полное наименование: </label>
            <input type="text" name="project_full_name" value="{{proj.project_full_name}}" required readonly />
        </div>
        <div class="project_form__field_wrapper">
            <label>Адрес: </label>
            <input type="text" name="project_address" value="{{proj.project_address}}" required readonly />
        </div>
        <div class="project_form__field_wrapper">
            <label>ГИП: </label>
            <input type="text" name="gip_name" value="{{proj.gip_name}}" required readonly />
        </div>
    </div>



    <div id="obj_tep_info">
        <div class="tep_info_form__field_wrapper">
            <label>Общая площадь: </label>
            <input type="text" name="project_total_area" value="{{proj.project_total_area}}" required readonly disabled />
        </div>

        {% if tep_info %}
            {% for tep in tep_info %}
                <div class="tep_info_form__field_wrapper">
                    <label>{{tep.label}}</label>
                    <input type="text" value="{{tep.value}}" required readonly disabled/>
                </div>
            {% endfor %}

        {% else %}

        {% endif %}

    </div>


    </body>

{% endblock %}

