{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/objectImageVisibility.js"></script>
<script src="/static/script/adaptiveColumnLength.js" defer></script>


{% endblock %}

{% block content %}
<style nonce="{{ nonce }}">
.project_full_screen_hr {
    position: fixed;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    border: 0;
    border-bottom: solid 3px red;
    margin: 10px 0 0 0;
}
.project_full_screen_h1 {
    background-color: rgba(256, 256, 256, 0.5);
    color: black;
    width: 100%;
    font-size: 40px;
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
    bottom: 10.5%;
}
</style>

    {% include "_layout_objects.html" %}


    <body id="object_page">
        <div id="div_full_screen_image_obj">
            <img class="project_full_screen_img" src={% if proj.project_img %}"{{proj.project_img}}"{% else %}"/static/img/object/empty_image_mini_obj.png"{% endif %} id="full_screen_image_obj">
            <div class="project_full_screen_h1">
                <hr class="project_full_screen_hr">
                {{proj.object_name}}
            </div>
        </div>

<div id="obj_main_wrapper-out">
    <div id="obj_main_wrapper">
    <div id="obj_main_info">
        <div class="project_form__field_wrapper">
            <label>Заказчик, как на титуле: </label>
            <input type="text" name="customer" value="{{proj.customer}}" required readonly />
        </div>
        <div class="project_form__field_wrapper">
            <label>Полное наименование: </label>
            <input type="text" name="project_full_name" value="{{proj.project_full_name}}" required readonly />
        </div>
        <div class="project_form__field_wrapper">
            <label>Адрес: </label>
            <input type="text" name="project_address" value="{{proj.project_address}}" required readonly />
        </div>
        <div class="project_form__field_wrapper">
            <label>ГИП: </label>
            <input type="text" name="gip_name" value="{{proj.gip_name}}" required readonly />
        </div>
    </div>

    <div id="obj_tep_info">
        <div class="tep_info_form__field_wrapper" id="tep_sqr">
            <label>Общая площадь: </label>
            <input type="text" name="project_total_area" value="{{proj.project_total_area}}" required readonly disabled />
        </div>

        {% if tep_info %}
            {% for tep in tep_info %}
                <div class="tep_info_form__field_wrapper">
                    <label>{{tep.label}}</label>
                    <input type="text" value="{{tep.value}}" required readonly disabled/>
                </div>
            {% endfor %}

        {% else %}

        {% endif %}
    </div>
</div>
</div>

    </body>

{% endblock %}
