{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/numberWithSpaces.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentApprovalSaveChanges.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentApprovalRecalcCards.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentApprovalColorize.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentApprovalClearAmountWhenNoSelect.js" nonce="{{ nonce }}"></script>
<script src="/static/script/checkFormNewPayment.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentCard.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentPagination.js" defer nonce="{{ nonce }}"></script>
<script src="/static/script/paymentApprovalRefreshSortValueCheckbox.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentSort.js" nonce="{{ nonce }}"></script>
<script src="/static/script/paymentFilter.js" nonce="{{ nonce }}"></script>

{% endblock %}
{% block content %}

<body id="payment-pay_page">

    {% include "_card-payment.html" %}
    {% include "_card-tableCustom.html" %}

    <div class="tpages_top_panel">
        <h1><img src="/static/img/h1/paymentpay.png"> {{title}}</h1>
        <div class="cards_container">
            <div class="card" id="card_selected_for_approval">
                <h2 class="card__title" id="card_selected_for_approval_value">&nbsp;</h2>
                <p class="card__cost">Выбрано для одобрения</p>
            </div>
            <div class="card" id="card_available_money">
                <h2 class="card__title" id="card_available_money_value" data-value="{{ money['account_money'] }}">{{ money['account_money_rub'] }}</h2>
                <p class="card__cost">ДС доступные к распределению</p>
            </div>
            <div class="card" id="card_account_money">
                <h2 class="card__title" id="card_account_money_value" data-value="{{ money['account_money'] }}">{{ money['account_money_rub'] }}</h2>
                <p class="card__cost">ДС на счету</p>
            </div>
        </div>
    </div>

    <div id="sortCol-1" hidden>{{ sort_col['col_1'][0] }}#{{ sort_col['col_1'][1] }}</div>
    <div id="sortCol-1_val" hidden>{{ sort_col['col_1'][2] }}</div>
    <div id="sortCol-id_val" hidden>{{ sort_col['col_id'] }}</div>

    <form id="paymentForm" action="/payment-pay" method="POST">
        <div class="paymentFormBtn">
            <button type="button" id="submitButton" data-selectCnt=0  disabled>Отправить</button>
            <button type="button" id="visualTablePA"><img src="/static/img/interface/setting.png"> Отображение
                таблицы</button>
        </div>
        <div class="tableR">
            <table id="payment-table" name="payment_table" class="display">
                <thead class="fix_thead">
                    <tr>
                        <th class="th_select" {% if '0' in setting_users %}hidden{% endif %}>
                            <div>ВЫБОР&nbsp;<span class="arrow_sort"></span></div>
                            <input type="text" id="filter-input-0" hidden readonly>
                        </th>
                        <th class="th_category" {% if '1' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-1">СТАТЬЯ ЗАТРАТ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-1">
                        </th>
                        <th class="th_nnumber" {% if '2' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-2">№ ПЛАТЕЖА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-2">
                        </th>
                        <th class="th_name" {% if '3' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-3">НАИМЕНОВАНИЕ ПЛАТЕЖА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-3">
                        </th>
                        <th class="th_description" {% if '4' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-4">ОПИСАНИЕ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-4">
                        </th>
                        <th class="th_object" {% if '5' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-5">ОБЪЕКТ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-5">
                        </th>
                        <th class="th_responsible" {% if '6' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-6">ОТВЕТСТВЕННЫЙ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-6">
                        </th>
                        <th class="th_contractor" {% if '7' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-7">КОНТРАГЕНТ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-7">
                        </th>
                        <th class="th_main_sum" {% if '8' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-8">ОБЩАЯ СУММА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-8">
                        </th>
                        <th class="th_sum_agreed" {% if '9' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-9">ОПЛАЧЕНО&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-9">
                        </th>
                        <th class="th_sum_agreed" {% if '10' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-10">СОГЛАСОВАННАЯ СУММА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-10">
                        </th>
                        <th class="th_sum_agreed" {% if '11' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-11">СУММА К ОПЛАТЕ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-11">
                        </th>
                        <th class="th_pay_date" {% if '12' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-12">СРОК ОПЛАТЫ&nbsp;<span class="arrow_sort">▲</span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-12">
                        </th>
                        <th class="th_date_create" {% if '13' in setting_users %}hidden{% endif %}>
                            <div id="sort-div-13">ДАТА СОЗДАНИЯ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-13">
                        </th>
                        <th class="th_save_pay" {% if '14' in setting_users %}hidden{% endif %}>
                            <div>ДО ПОЛНОЙ ОПЛАТЫ&nbsp;<span class="arrow_sort"></span></div>
                            <input type="text" id="filter-input-14" hidden readonly>
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </form>
</body>
{% endblock %}