{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/taskMyTasks.js" nonce="{{ nonce }}"></script>

{% endblock %}
{% block content %}
    <body id="task-my_tasks_page" class="task-my_tasks_page task-tasks_page">

    <div id="responsibleOrStatusWin" class="overlay hidden"></div>

    <div id="proj-info">
        <div class="title_head">
            <img class="project_img" width="50" height="50" src="/static/img/contract/contract_logo.svg" class="image_mini_obj">
            <div class="proj-info-container" title="{{title1}}">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="btn_head">
            <div class="my_tasks_other_period_div" id="my_tasks_other_period_div">
                <label id="my_tasks_other_period_label" for="my_tasks_other_period">СМЕНИТЬ ПЕРИОД</label>
                <input type="week" class="user_card_input_350" name="my_tasks_other_period" id="my_tasks_other_period"
                       data-week="{{current_period[0]}}" data-day_0="{{current_period[1]}}" data-day_6="{{current_period[2]}}"
                       min={{my_tasks_other_period[0]}} max={{my_tasks_other_period[1]}}  title="Выберите неделю. Список задач обновится" required/>
            </div>
            <button class="object_main_btn" id="show_completed_tasks_btn" >ПОКАЗАТЬ ЗАВЕРШЕННОЕ</button>
            <button class="object_main_btn" id="save_btn" disabled>ОТПРАВИТЬ</button>
            <button class="object_main_btn" id="cancel_btn" disabled>ОТМЕНА</button>
        </div>
        <div class="wrong_hours_div">
            <div class="wrong_hours_list_div unsent_hours_list_div">
                <div class="wrong_hours_show_list_title_div">
                    {% if not unsent_hours_list %}
                        <img class="crossBtnNAW" src="/static/img/object/tow/icon-ok.svg" alt="ok">
                    {% endif %}
                    <label class="wrong_hours_show_list_title">Неотправленные даты</label>
                </div>
                <div class="wrong_hours_show_list_div">
                    {% if unsent_hours_list %}
                        {% for t in unsent_hours_list %}
                            <div class="wrong_hours_date_div" data-date="{{t.unsent_date}}">{{t.unsent_date}}</div>
                        {% endfor %}
                        {% if unsent_hours_list|length == 25 %}
                            <div class="wrong_hours_date_more25_div">...</div>
                        {% endif %}
                    {% else %}
                        <div class="wrong_hours_empty_div">
                            Часы за все даты отправлены
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="wrong_hours_list_div unapproved_hours_list_div">
                <div class="wrong_hours_show_list_title_div">
                    {% if not unapproved_hours_list %}
                        <img class="crossBtnNAW" src="/static/img/object/tow/icon-ok.svg" alt="ok">
                    {% endif %}
                    <label class="wrong_hours_show_list_title">Несогласованные даты</label>
                </div>
                <div class="wrong_hours_show_list_div">
                    {% if unapproved_hours_list %}
                        {% for t in unapproved_hours_list %}
                            <div class="wrong_hours_date_div" data-date="{{t.unapproved_date}}">{{t.unapproved_date}}</div>
                        {% endfor %}
                        {% if unapproved_hours_list|length == 25 %}
                            <div class="wrong_hours_date_more25_div">...</div>
                        {% endif %}
                    {% else %}
                        <div class="wrong_hours_empty_div">
                            Нет несогласованных часов
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="wrong_hours_list_div not_full_sent_list_div">
            <div class="wrong_hours_show_list_title_div">
                {% if not not_full_sent_list %}
                    <img class="crossBtnNAW" src="/static/img/object/tow/icon-ok.svg" alt="ok">
                {% endif %}
                <label class="wrong_hours_show_list_title">Частично заполненные даты</label>
            </div>
            <div class="wrong_hours_show_list_div">
                {% if not_full_sent_list %}
                    {% for t in not_full_sent_list %}
                        <div class="wrong_hours_date_div wrong_hours_date_2_div" data-date="{{t.hotr_date}}">{{t.not_full_hours}}</div>
                    {% endfor %}
                        {% if not_full_sent_list|length == 25 %}
                            <div class="wrong_hours_date_more25_div">...</div>
                        {% endif %}
                {% else %}
                    <div class="wrong_hours_empty_div">
                        Нет частично заполненных дат
                    </div>
                {% endif %}
            </div>
        </div>
        </div>
    </div>

    <div class="additional_data" hidden="hidden">
        <table id="additional_data_statuses">
        {% if task_statuses %}
            {% for s in task_statuses %}
            <tr>
                <td>{{s.task_status_id}}</td>
                <td>{{s.task_status_name}}</td>
                <td>{{s.task_status_value}}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </table>
    </div>

    <section class="modal hidden" id="responsible_or_status__dialog" class="responsible_or_status__dialog" data-task_responsible_id="">
        <div id="responsible_or_status_title_frame">
            <label id="responsible_or_status_title_label">ИЗМЕНИТЬ</label>
            <img class="crossBtnNAW" id="responsible_or_status_crossBtnNAW" src="/static/img/employee/cross.svg" alt="close">
        </div>
        <div id="responsible_or_status_frame">
            <label type="text" id="responsible_or_status_frame_input">Описание, у кого и что меняем</label>
            <div class="responsible_or_status_status_form__field_wrapper" id="responsible_or_status_status_div">
                <label id="responsible_or_status_status_label" for="responsible_or_status_status_select">СПИСОК СТАТУСОВ ЗАДАЧ</label>
                <select class="selectSearch2" data-placeholder="Выберите статус из списка" id="responsible_or_status_status_select" name="responsible_or_status_status_select" required>
                    <option></option>
                    {% for t in task_statuses %}
                    <option value="{{ t.task_status_id }}">{{ t.task_status_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="responsible_or_status_card_button_group">
            <button type="button" id="apply__edit_btn_i">СОХРАНИТЬ</button>
            <button type="button" id="cancel__edit_btn_i">ОТМЕНИТЬ</button>
        </div>
    </section>

    <div class="view">
        <div class="qqqq">
            <table class="tow" id="towTable">
                <thead class="fix_thead">
                    <tr>
                        <th class="th_tow_name sticky-col col-1">
                            <div>№</div>
                        </th>
                        <th class="th_tow_name sticky-col col-2">
                            <div>Проект&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-1" readonly="readonly">
                            <div class="div_selectSearch2" id="div-filter-input-1">
                                <select class="selectSearch2" data-placeholder="Выберите значения из списка" id="select-filter-input-1" name="select-filter-input-1" multiple="multiple">
                                    <option></option>
                                    {% for pr in pr_list %}
                                    <option value="{{ pr[1] }}" {% if pr[1] == 'contract_info.contract_status_id' %} selected {% endif %}>{{ pr[0] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th class="th_task_structure sticky-col col-3" title="Полная структура проекта до задачи">
                            <div>Структура&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="search" id="filter-input-2">
                        </th>
                        <th class="th_tow_name sticky-col col-4" title="Название задачи">
                            <div>Название&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="search" id="filter-input-3">
                        </th>
                        <th class="th_tow_name sticky-col col-5">
                            <div>Статус&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" class="my_task_filter-input" id="filter-input-4" readonly="readonly">
                            <div class="div_selectSearch2" id="div-filter-input-4">
                                <select class="selectSearch2" data-placeholder="Выберите значения из списка" id="select-filter-input-4" name="select-filter-input-4" multiple="multiple">
                                    <option></option>
                                    {% for st in status_list %}
                                    <option value="{{ st[1] }}" {% if st[1] == 'contract_info.contract_status_id' %} selected {% endif %}>{{ st[0] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th class="th_task_responsible_comment">
                            <div>Комментарии&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="search" id="filter-input-5">
                        </th>
                        {% if calendar_cur_week %}
                            {% for d in calendar_cur_week %}
                                <th class="{{d.class}}" title="{{d.work_day}} - {{d.day_week}}">
                                    <div class="th_task_work_day_date">{{d.work_day_txt}}</div>
                                    <div class="th_task_work_day_hours" data-value="{{d.hours_per_day}}" data-hpdn_status="{{d.hpdn_status}}">{{d.hours_per_day_txt}} ч.&nbsp;<span class="arrow_sort"></span></div>
                                </th>
                            {% endfor %}
                        {% endif %}
                    </tr>
                </thead>

                {% if tasks %}
                    {% for кк in range(1) %}
                    {% for t in tasks %}
                    <tr class="{{t.task_class}}" data-row_type="{{t.row_type}}"  data-task="{{t.task_id}}" data-task_responsible="{{t.task_responsible_id}}" {% if t.task_status_id == 4 %}hidden="hidden"{% endif %}>

                        <td class="td_task_number sticky-cell col-1" title="{% for s_name in t.name_path %}{{s_name}} / {% endfor %}{{t.task_name}}">
                            <div class="input_task_number">{{t.task_number}}</div>
                        </td>

                        {% if t.row_type == "task" %}
                            <td class="td_task_project_name sticky-cell col-2" data-value="{{t.project_id}}" title="Перейти в проект: {{t.project_full_name}}">
                                <a class="input_task_project_name" target="_blank" href="/tasks/{{t.tow_id}}#task-{{t.task_responsible_id}}">{{t.project_short_name}}</a>
                            </td>
                        {% else %}
                            <td class="td_task_project_name sticky-cell col-2" data-value="{{t.project_id}}" title="Орг работы">
                                <a class="input_task_project_name" target="_blank" >{{t.project_short_name}}</a>
                            </td>
                        {% endif %}

                        <td class="td_task_structure sticky-cell col-3" data-value="{{t.short_name_path}}">
                            {% for s_name in t.short_name_path %}
                                <div class="input_task_structure input_task_structure_{{t.tow_task[t.short_name_path.index(s_name)]}}"
                                     title="{{t.tow_task_title[t.short_name_path.index(s_name)]}}{{t.name_path[t.short_name_path.index(s_name)]}}">{{s_name}}
                                </div>/
                            {% endfor %}
                            <div class="input_task_structure input_task_structure_tr" title="Текущая задача: {{t.task_name}}">{{t.short_task_name}}</div>
                        </td>

                        <td class="td_task_task_name sticky-cell col-4" title="{{t.task_name}}">{{t.short_task_name}}</td>

                        <td class="td_tow_task_statuses sticky-cell col-5"
                            data-value="{{t.task_status_id}}"
                            data-cur_value="{{t.task_status_id}}"
                            data-editing_is_prohibited="{{t.editing_is_prohibited}}">
                            {{t.task_status_name}}
                        </td>

                        <td class="td_task_responsible_comment" >
                            <input type="text" class="input_task_responsible_comment is_not_edited" data-value="{{t.task_responsible_comment}}" value="{{t.task_responsible_comment}}" >
                        </td>

                        <td class="td_task_labor_cost_week_day td_tow_week_1_day_1 {{calendar_cur_week[0].class}}">
                            <input type="text" step="300" class="input_task_week_1_day_1 {{calendar_cur_week[0]['td_class']}}"
                                   data-value="{{t.input_task_week_1_day_1}}" data-cur_value="{{t.input_task_week_1_day_1}}"
                                   value="{{t.input_task_week_1_day_1_txt}}">
                        </td>
                        <td class="td_task_labor_cost_week_day td_tow_week_1_day_2 {{calendar_cur_week[1].class}}">
                            <input type="text" step="300" class="input_task_week_1_day_2 {{calendar_cur_week[1]['td_class']}}"
                                   data-value="{{t.input_task_week_1_day_2}}" data-cur_value="{{t.input_task_week_1_day_2}}"
                                   value="{{t.input_task_week_1_day_2_txt}}">
                        </td>
                        <td class="td_task_labor_cost_week_day td_tow_week_1_day_3 {{calendar_cur_week[2].class}}">
                            <input type="text" step="300" class="input_task_week_1_day_3 {{calendar_cur_week[2]['td_class']}}"
                                   data-value="{{t.input_task_week_1_day_3}}" data-cur_value="{{t.input_task_week_1_day_3}}"
                                   value="{{t.input_task_week_1_day_3_txt}}">
                        </td>
                        <td class="td_task_labor_cost_week_day td_tow_week_1_day_4 {{calendar_cur_week[3].class}}">
                            <input type="text" step="300" class="input_task_week_1_day_4 {{calendar_cur_week[3]['td_class']}}"
                                   data-value="{{t.input_task_week_1_day_4}}" data-cur_value="{{t.input_task_week_1_day_4}}"
                                   value="{{t.input_task_week_1_day_4_txt}}">
                        </td>
                        <td class="td_task_labor_cost_week_day td_tow_week_1_day_5 {{calendar_cur_week[4].class}}">
                            <input type="text" step="300" class="input_task_week_1_day_5 {{calendar_cur_week[4]['td_class']}}"
                                   data-value="{{t.input_task_week_1_day_5}}" data-cur_value="{{t.input_task_week_1_day_5}}"
                                   value="{{t.input_task_week_1_day_5_txt}}">
                        </td>
                        <td class="td_task_labor_cost_week_day td_tow_week_1_day_6 {{calendar_cur_week[5].class}}">
                            <input type="text" step="300" class="input_task_week_1_day_6 {{calendar_cur_week[5]['td_class']}}"
                                   data-value="{{t.input_task_week_1_day_6}}" data-cur_value="{{t.input_task_week_1_day_6}}"
                                   value="{{t.input_task_week_1_day_6_txt}}">
                        </td>
                        <td class="td_task_labor_cost_week_day td_tow_week_1_day_7 {{calendar_cur_week[6].class}}">
                            <input type="text" step="300" class="input_task_week_1_day_7 {{calendar_cur_week[6]['td_class']}}"
                                   data-value="{{t.input_task_week_1_day_7}}" data-cur_value="{{t.input_task_week_1_day_7}}"
                                   value="{{t.input_task_week_1_day_7_txt}}">
                        </td>

                    </tr>
                    {% endfor %}
                    {% endfor %}
                {% else %}
                    <tr class="lvl-10">
                        <td class="empty_table div_tow_first_cell sticky-cell col-1" colspan="3">
                            Задачи не найдены
                        </td>

                        <td class="empty_table" colspan="8">

                        </td>

                    </tr>

                {% endif %}
            </table>
        </div>
    </div>
    </body>

{% endblock %}
