{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="/static/script/taskMain.js" nonce="{{ nonce }}"></script>

{% endblock %}
{% block content %}

    <body id="object-tow_page">

    {% include "_layout_tasks.html" %}

    <div class="qqqq">
    <table class="tow" id="towTable">
        <thead class="fix_thead">
            <tr>
                <th class="th_tow_name">
                    <div>ВИД РАБОТЫ</div>
                </th>
                <th class="th_tow_dept">
                    <div>ОТДЕЛ</div>
                </th>
                <th class="th_tow_dept">
                    <div>УЧЁТ ЧАСОВ</div>
                </th>
            </tr>
        </thead>
        {% if tow %}
            {% for t in tow %}
            <tr class="lvl-{{t.depth}} {{t.row_class}}" data-lvl="{{t.depth}}" data-tow="{{t.tow_id}}" data-task="{{t.task_id}}"
                data-is_not_edited="{% if t.tow_id %}true{% endif %}" id="" title="{{t.tow_name}}">
                <td class="tow_name">
                    <div class="div_tow_name">
                        {% if t.link %}
                            <a href="{{t.link}}" target="_blank">{{t.tow_short_name}}</a>
                        {% else %}
                        {{t.tow_short_name}}
                        {% endif %}
                    </div>
                </td>
                <td class="tow_dept">
                    <input type="text" class="input_tow_name is_not_edited" value="{{t.dept_short_name}}" readonly="readonly">
                </td>
                <td class="tow_time_tracking">
                    <input disabled type="checkbox" class="checkbox_time_tracking" {% if t.time_tracking %}checked{% endif %}></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr class="lvl-10">
                <td class="empty_table" colspan="3">
                    Виды работ не созданы
                </td>
            </tr>
        {% endif %}
    </table>
    </div>

    </body>

{% endblock %}
